USE [master]
GO
/****** Object:  Database [GameController]    Script Date: 05/10/2015 21:45:09 ******/
CREATE DATABASE [GameController]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GameController', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\GameController.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GameController_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\GameController_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GameController].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GameController]
GO
/****** Object:  Table [dbo].[processes]    Script Date: 05/10/2015 21:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[processes](
	[process_name] [nvarchar](50) NOT NULL,
	[exe_path] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[services]    Script Date: 05/10/2015 21:45:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services](
	[service_name] [nvarchar](50) NOT NULL,
	[display_name] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
USE [master]
GO
